.form-container {
    padding: 50px;
    margin: 100px auto;
    width: 1000px;
    background-color: var(--navbar-color);
    color: var(--text-color);
    border-radius: 10px;
}

.form-container label,
.form-container input {
    font-size: 18px;
}

.btn-number {
    height: 41px;
}