{% extends "base.html"%} {% block page_css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"> {% endblock %} {%block content%} {%if add_route_success %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Successfully added the route requested!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<script>
    $("#exampleModal").modal('show');
</script>
{% endif %}

<div class="form-container">
    <div class="jumbotron">
        <h1 class="display-4 text-dark text-center">Add Route Page</h1>
        <br>
        <p class="lead text-center">
            <a class="btn btn-success btn-lg" href="/dashboard" role="button">Back</a>
        </p>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="source_city">Source City</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-arrow-circle-up"></i>
                    </div>
                </div>
                <input id="source_city" name="source_city" placeholder="(Ex) Chennai" type="text" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="dest_city">Destination City</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-arrow-circle-down"></i>
                    </div>
                </div>
                <input id="dest_city" name="dest_city" placeholder="(Ex) Chennai" type="text" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input id="checkbox_rev" name="checkbox_rev" type="checkbox" class="custom-control-input" value="add_rev">
                    <label for="checkbox_rev" class="custom-control-label">Add reverse</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="distance">Distance</label>
            <div class="input-group">
                <input id="distance" name="distance" placeholder="1500" type="text" aria-describedby="distanceHelpBlock" required="required" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">KM</div>
                </div>
            </div>
            <span id="distanceHelpBlock" class="form-text text-muted">Enter distance in Kilometers</span>
        </div>
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}