{% extends "base.html"%} {% block page_css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"> {% endblock %} {%block content%}
<div class="form-container">
    <div class="jumbotron">
        <h1 class="display-4 text-dark text-center">Search Flight Page</h1>
        <br>
        <p class="lead text-center">
            <a class="btn btn-success btn-lg" href="/dashboard" role="button">Back</a>
        </p>
    </div>
    <form name="form">
        <div class="form-group row">
            <label for="src_city" class="col-4 col-form-label">Source City</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-arrow-circle-up"></i>
                        </div>
                    </div>
                    <input id="src_city" name="src_city" placeholder="(Ex) Chennai" type="text" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="dest_city" class="col-4 col-form-label">Destination City</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-arrow-circle-down"></i>
                        </div>
                    </div>
                    <input id="dest_city" name="dest_city" placeholder="(Ex) Delhi" type="text" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="button" class="btn btn-primary" onclick="searchFlights()">Submit</button>
            </div>
        </div>
    </form>
    <div class="list-group" id="searchResults">
    </div>
</div>
{% endblock %}{% block nav_active %}

<script>
    document.getElementById("nav-link-search").classList.add("active");
</script>
<script src="{{url_for('static', filename='js/search-flight.js')}}">
</script>
{% endblock %}