<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://cdn.onlinewebfonts.com/svg/img_9949.png" />
    <title>Vulture Aviatiors</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user/font-awesome.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/user/templatemo-breezed.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/owl-carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/lightbox.css')}}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>

<body>
    <style>

    </style>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav" <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo" style="font-size:25px; margin-top:20px">
                            Vulture Aviatiors
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li style="padding-right:20px; "><a href="/"> Home </a></li>
                            <li style="padding-right:20px;"><a href="/search-flights"> Search Flights </a></li>
                            <li style="padding-right:20px;"><a href="/#about"> About us </a></li>

                            <li style="padding-right:20px;">
                                <a href="/messages"> Messages </a>
                            </li>
                            <li style="padding-right:20px;"><a href="/list-bookings"> Bookings </a></li>
                            <li style="padding-right:20px;"><a href="/logout"> Logout </a></li>


                            <!-- <div class="logout" style="margin-top: 15px;">
                                <a href="/logout" style="color: aliceblue;">Logout</a>
                            </div> -->
                        </ul>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="{{url_for('static', filename='images/slide-01.jpg')}}" alt="">
                    <div class="text-content">
                        <h3>Welcome To Vulture Aviatiors</h3>
                        <h5>World's Best First class 2021 </h5>
                        </br>
                        <a href="/search-flights" class="main-filled-button">Book tickets</a> {% if is_agent %}
                        <a onclick="alert('Agents cannot request for cancellation!');" class="main-stroked-button">Cancel tickets </a> {% else %}
                        <a href="/list-bookings" class="main-stroked-button">Cancel tickets</a> {% endif%}
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="{{url_for('static', filename='images/slide-02.jpg')}}" alt="">
                    <div class="text-content">
                        <h3>Welcome To Vulture Aviatiors</h3>
                        <h5>World's Best First class 2021 </h5>
                        </br>
                        <a href="/search-flights" class="main-filled-button">Book tickets</a> {% if is_agent %}
                        <a onclick="alert('Agents cannot request for cancellation!');" class="main-stroked-button">Cancel tickets </a> {% else %}
                        <a href="/list-bookings" class="main-stroked-button">Cancel tickets</a> {% endif%}

                    </div>
                </div>
            </div>
            <!-- // Item -->

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="left-text-content">
                            <p>Copyright &copy; 2021 Vulture Aviatiors Co., Ltd. </p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="right-text-content">
                            <ul class="social-icons">
                                <li>
                                    <p>Follow Us</p>
                                </li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fab fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fab fa-instagram"></i></a></li>


                            </ul>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-xs-12 left-text-content">
                        <a href="/terms" style="color:white;">Terms and conditions </a></div>
                </div>


            </div>
        </footer>


        <!-- jQuery -->
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-2.1.0.min.js')}}"></script>

        <script src="{{url_for('static', filename='js/jquery-2.1.0.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/popper.js')}}"></script>
        <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
        <script src="{{url_for('static', filename='js/scrollreveal.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/imgfix.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/slick.js')}}"></script>
        <script src="{{url_for('static', filename='js/lightbox.js')}}"></script>
        <script src="{{url_for('static', filename='js/isotope.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>




</body>

</html>